/*  Variables  */
/*   Mixins  */
/*  Gradients  */
/*  Transition  */
/*  Box Sizing  */
/*  Box Shadow  */
/*  Border Radius  */
/*  Opacity  */
body, html {
  min-height: 100%;
  position: relative; }

body {
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed !important;
  font: normal 12px 'Open Sans', arial, sans-serif;
  line-height: 18px;
  color: #4d4d4d;
  background: white; }

a {
  color: black;
  text-decoration: none;
  -webkit-transition: All 0.5s ease;
  -moz-transition: All 0.5s ease;
  -ms-transition: All 0.5s ease;
  -o-transition: All 0.5s ease;
  transition: All 0.5s ease; }
  a:hover {
    color: #53acdf;
    text-decoration: none; }

.no-margin {
  margin: 0 !important; }

.less-bottom-margin {
  margin-bottom: 5px; }

.no-border {
  border: none !important; }

.no-padding {
  padding: 0 !important; }

.center-align-text {
  text-align: center !important; }

.right-align-text {
  text-align: right !important; }

.left-align-text {
  text-align: left !important; }

.underline-text {
  text-decoration: underline;
  font-weight: 700; }

.text-justify {
  text-align: justify !important; }

.uppercase {
  text-transform: uppercase; }

.lg-border-radius {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px; }

.md-border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.sm-border-radius {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.lg-padding {
  padding: 20px; }

.md-padding {
  padding: 10px; }

.sm-padding {
  padding: 5px; }

.text-success {
  color: #abd14f !important; }

.text-danger {
  color: #ff6464 !important; }

.text-info {
  color: #53acdf !important; }

.text-warning {
  color: #ffaa3a !important; }

.text-fb {
  color: #4c66a4; }

.text-gplus {
  color: #dc4937; }

.text-linkedin {
  color: #1a85bd; }

.text-white {
  color: white !important; }

.progress-sm {
  height: 6px; }

.progress-md {
  height: 10px; }

.progress-xs {
  height: 3px; }

.primary-bg {
  background: #53acdf !important;
  color: white; }
  .primary-bg:hover {
    background: #2897d7 !important; }

.success-bg {
  background: #abd14f !important;
  color: white; }
  .success-bg:hover {
    background: #93bc31 !important; }

.danger-bg {
  color: white;
  background: #ff6464 !important; }
  .danger-bg:hover {
    background: #ff3131 !important; }

.info-bg {
  color: white;
  background: #53acdf !important; }
  .info-bg:hover {
    background: #2897d7 !important; }

.warning-bg {
  color: white;
  background: #ffaa3a !important; }
  .warning-bg:hover {
    background: #ff9407 !important; }

.fb-bg {
  background: #4c66a4;
  color: white; }
  .fb-bg:hover {
    background: #3c5081 !important; }

.twitter-bg {
  background: #00acee;
  color: white; }
  .twitter-bg:hover {
    background: #0087bb !important; }

.linkedin-bg {
  background: #1a85bd;
  color: white; }
  .linkedin-bg:hover {
    background: #146590 !important; }

.gplus-bg {
  background: #dc4937;
  color: white; }
  .gplus-bg:hover {
    background: #bf3321 !important; }

hr.stylish {
  position: absolute;
  left: 0;
  right: 0;
  border: none;
  margin: 0;
  border-top: 1px solid #c7e4f5; }

.spacer {
  padding: 25px 10px; }

.spacer-sm {
  padding: 15px; }

.spacer-md {
  padding: 25px; }

.btn {
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.btn:focus {
  outline: none; }

.btn:hover,
.btn:focus {
  color: #4d4d4d;
  text-decoration: none; }

.btn-default {
  color: #4d4d4d;
  background-color: #f2f2f2;
  border-color: #d9d9d9; }

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  color: #4d4d4d;
  background-color: #e6e6e6;
  border-color: #d9d9d9; }

.btn-primary {
  color: white;
  background-color: #53acdf;
  border-color: #3ea2db; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: white;
  background-color: #3ea2db;
  border-color: #2897d7; }

.btn-secondary {
  color: white;
  background-color: #eacb20;
  border-color: #dcbd15; }

.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active,
.btn-secondary.active,
.open .dropdown-toggle.btn-secondary {
  color: white;
  background-color: #dcbd15;
  border-color: #c4a913; }

.btn-warning {
  color: white;
  background-color: #ffaa3a;
  border-color: #ff9f21; }

.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning {
  color: white;
  background-color: #ff9f21;
  border-color: #ff9b16; }

.btn-danger {
  color: white;
  background-color: #ff6464;
  border-color: #ff4b4b; }

.btn-danger:hover,
.btn-danger:focus,
.btn-danger:active,
.btn-danger.active,
.open .dropdown-toggle.btn-danger {
  color: white;
  background-color: #ff4b4b;
  border-color: #ff4040; }

.btn-success {
  color: white;
  background-color: #abd14f;
  border-color: #a1cc3b; }

.btn-success:hover,
.btn-success:focus,
.btn-success:active,
.btn-success.active,
.open .dropdown-toggle.btn-success {
  color: white;
  background-color: #a1cc3b;
  border-color: #9dc834; }

.btn-info {
  color: white;
  background-color: #53acdf;
  border-color: #3ea2db; }

.btn-info:hover,
.btn-info:focus,
.btn-info:active,
.btn-info.active,
.open .dropdown-toggle.btn-info {
  color: white;
  background-color: #3ea2db;
  border-color: #2897d7; }

.btn-rounded {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px; }

.btn-transparent {
  background-color: transparent;
  color: black; }

.demo-btn-group .btn {
  min-width: 80px;
  margin-bottom: 5px; }

.pentagon {
  width: 60px;
  height: 40px;
  background: #53acdf;
  position: relative;
  -webkit-box-sizing: initial;
  box-sizing: initial; }

.pentagon:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-bottom: 15px solid #53acdf; }

.pentagon:after {
  content: "";
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 0;
  height: 0;
  border-left: 30px solid transparent;
  border-right: 30px solid transparent;
  border-top: 15px solid #53acdf; }

header {
  background: #53acdf;
  height: 60px;
  line-height: 60px;
  padding: 0 20px;
  vertical-align: middle; }
  header .logo {
    width: 230px;
    float: left; }
    header .logo img {
      max-width: 180px; }

@media (max-width: 767px) {
  header .logo {
    width: 180px; }
    header .logo img {
      max-width: 150px; } }
.menu-toggle {
  margin-left: 20px;
  float: right;
  display: block; }
  .menu-toggle i {
    color: white;
    font-size: 24px;
    vertical-align: middle; }

.header-bar {
  top: -250px;
  left: 0;
  position: fixed;
  padding: 20px;
  z-index: 9999;
  width: 100%;
  background-color: white;
  -webkit-transition: top 0.5s ease;
  -moz-transition: top 0.5s ease;
  -ms-transition: top 0.5s ease;
  -o-transition: top 0.5s ease;
  transition: top 0.5s ease;
  -moz-box-shadow: 0 0 5px #4d4d4d;
  /* FF3.5+ */
  -webkit-box-shadow: 0 0 5px #4d4d4d;
  /* Saf3.0+, Chrome */
  box-shadow: 0 0 5px #4d4d4d;
  /* Opera 10.5, IE9 */ }

@media (max-width: 767px) {
  .header-bar {
    display: none; } }
ul.summary-list {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 0; }
  ul.summary-list > li {
    display: inline-block;
    width: 16%;
    text-align: center;
    border-right: 1px solid #ebebeb; }
    ul.summary-list > li > a {
      padding: 0;
      display: inline-block;
      color: #4d4d4d; }
      ul.summary-list > li > a > i {
        display: block;
        font-size: 21px;
        padding-bottom: 5px; }
    ul.summary-list > li:last-child {
      border-right: none; }

ul.header-bar-stats {
  margin: 0;
  padding: 0;
  margin-top: 10px;
  list-style-type: none;
  display: block; }
  ul.header-bar-stats li {
    float: left;
    padding: 0;
    width: 50%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    height: 30px; }
    ul.header-bar-stats li .graph, ul.header-bar-stats li .icon {
      float: left;
      margin: 0; }
    ul.header-bar-stats li .details {
      float: left;
      margin-left: 10px;
      text-align: right;
      line-height: 14px;
      color: #666666; }
      ul.header-bar-stats li .details span.big {
        font-size: 16px;
        font-weight: 600; }
      ul.header-bar-stats li .details span.small {
        display: block;
        font-size: 12px; }

@media (max-width: 767px) {
  ul.stats {
    display: none; } }
.right-info-bar {
  right: -250px;
  top: 45px;
  position: fixed;
  padding: 0px;
  z-index: 9999;
  height: 100%;
  width: 240px;
  background-color: white;
  -webkit-transition: right 0.5s ease;
  -moz-transition: right 0.5s ease;
  -ms-transition: right 0.5s ease;
  -o-transition: right 0.5s ease;
  transition: right 0.5s ease;
  -moz-box-shadow: 0 0 5px #4d4d4d;
  /* FF3.5+ */
  -webkit-box-shadow: 0 0 5px #4d4d4d;
  /* Saf3.0+, Chrome */
  box-shadow: 0 0 5px #4d4d4d;
  /* Opera 10.5, IE9 */ }
  .right-info-bar .block {
    background-color: #f7f7f7;
    margin-bottom: 10px; }
    .right-info-bar .block .heading {
      background-color: #e6e6e6;
      padding: 10px;
      color: #4d4d4d;
      font-size: 15px;
      margin: 0px; }

#show-header-bar {
  background: #60b2e1;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  margin: 12px 0 0 30px;
  float: left;
  padding: 5px 10px;
  display: block;
  line-height: 20px; }
  #show-header-bar i {
    color: white;
    font-size: 24px;
    vertical-align: middle; }

ul#mini-nav {
  padding: 0;
  list-style-type: none;
  margin: 0; }
  ul#mini-nav li.list-box {
    position: relative;
    cursor: pointer;
    display: inline-block;
    margin-left: 15px;
    text-align: center;
    padding: 4px 0;
    line-height: 100%;
    vertical-align: middle;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    /* FF3.5+ */
    -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    /* Saf3.0+, Chrome */
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.1);
    /* Opera 10.5, IE9 */ }
    ul#mini-nav li.list-box a {
      padding: 0 10px;
      display: block; }
      ul#mini-nav li.list-box a i {
        color: white;
        font-size: 21px; }
    ul#mini-nav li.list-box:hover a i {
      color: #a9d5ef; }
    ul#mini-nav li.list-box .info-label {
      position: absolute;
      top: -5px;
      right: 1px;
      color: white;
      font-size: 10px;
      text-align: center;
      line-height: 15px;
      width: 15px;
      height: 15px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
  ul#mini-nav .dropdown-menu {
    min-width: 320px;
    float: left;
    position: absolute;
    right: 0 !important;
    top: 36px;
    left: inherit;
    border: 1px solid #a9d5ef; }
    ul#mini-nav .dropdown-menu:before {
      content: "";
      position: absolute;
      top: -7px;
      right: 12px;
      border-bottom: 7px solid whitesmoke;
      border-right: 7px solid transparent;
      border-left: 7px solid transparent; }
  ul#mini-nav #mob-nav {
    background-color: #185b81;
    padding: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px; }
    ul#mini-nav #mob-nav a {
      color: white;
      font-size: 14px; }

.featured-articles {
  padding: 0px; }
  .featured-articles .articles a {
    position: relative;
    border-bottom: 1px dotted #d9d9d9;
    color: white;
    display: block;
    font-size: 12px;
    font-weight: 500;
    line-height: 17px;
    padding: 6px 0;
    padding-left: 20px;
    margin-bottom: 1px; }
    .featured-articles .articles a:hover {
      text-decoration: underline; }
    .featured-articles .articles a .label-bullet {
      position: absolute;
      left: 1px;
      top: 12px;
      width: 0;
      height: 0;
      border: 3px solid #ffb554; }
    .featured-articles .articles a .date {
      font-size: 10px;
      padding-left: 15px;
      font-weight: normal;
      display: block; }

ul.progress-stats {
  padding: 10px;
  margin: 0;
  text-align: left; }
  ul.progress-stats li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #ebebeb !important;
    background-color: white;
    margin-bottom: 3px; }
    ul.progress-stats li:last-child {
      margin-bottom: 0px; }
    ul.progress-stats li:hover {
      background: white;
      cursor: pointer; }
    ul.progress-stats li .details {
      margin-bottom: 5px;
      line-height: 18px;
      font-size: 11px; }
      ul.progress-stats li .details strong {
        font-weight: 600;
        margin-right: 3px;
        font-size: 13px; }
      ul.progress-stats li .details span {
        font-weight: 400; }
    ul.progress-stats li.plain {
      padding: 5px 0px;
      border: 0 !important;
      font-weight: 600;
      display: block;
      font-size: 14px;
      background: transparent;
      display: block; }
      ul.progress-stats li.plain .btn {
        float: right; }
        ul.progress-stats li.plain .btn i {
          color: white !important;
          font-size: 16px; }

.tweets-container .tweet-box {
  margin-bottom: 3px;
  padding: 8px;
  height: 76px;
  background: white;
  border: 1px solid #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }
  .tweets-container .tweet-box img.avatar {
    height: 36px;
    width: 36px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left; }
  .tweets-container .tweet-box .tweet {
    margin-left: 48px; }
    .tweets-container .tweet-box .tweet p {
      color: #4d4d4d;
      margin: 0; }
      .tweets-container .tweet-box .tweet p span {
        color: #eacb20;
        line-height: 12px;
        font-size: 10px; }
    .tweets-container .tweet-box .tweet .icons-nav {
      border-top: 1px solid #e6e6e6;
      padding: 5px 0 0 0; }
      .tweets-container .tweet-box .tweet .icons-nav .time {
        float: left;
        color: #bfbfbf; }
      .tweets-container .tweet-box .tweet .icons-nav i {
        float: right;
        color: gray;
        cursor: pointer; }
  .tweets-container .tweet-box:hover {
    background: #f7f7f7;
    cursor: pointer; }

.todo {
  background: white; }
  .todo .todo-list-item {
    border-bottom: 1px solid #ededed;
    padding: 13px 0px;
    cursor: pointer;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: relative; }
    .todo .todo-list-item:last-child {
      border-bottom: none; }
  .todo .todo-list-cb {
    display: none; }
  .todo .todo-list-mark {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    border: 2px solid #b3b3b3;
    vertical-align: middle; }
    .todo .todo-list-mark:before {
      content: '';
      display: none;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -3px 0 0 -4px;
      height: 5px;
      width: 8px;
      border: solid #eacb20;
      border-width: 0 0 3px 3px;
      -webkit-transform: rotate(-45deg);
      -moz-transform: rotate(-45deg);
      -o-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
      transform: rotate(-45deg); }
  .todo .danger-todo {
    border: 2px solid #ff6464; }
  .todo label {
    margin-bottom: 0;
    font-size: 12px; }
  .todo .todo-list-cb:checked ~ .todo-list-mark {
    border-color: #eacb20; }
    .todo .todo-list-cb:checked ~ .todo-list-mark:before {
      display: block; }
  .todo .todo-list-desc {
    font-weight: 500;
    color: #666666; }
  .todo .todo-list-cb:checked ~ .todo-list-desc {
    color: #eacb20;
    text-decoration: line-through; }
  .todo:hover {
    color: #eacb20; }

ul.browser-stats {
  padding: 0;
  margin: 0;
  text-align: left;
  list-style-type: none; }
  ul.browser-stats li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #ebebeb !important;
    background-color: white;
    margin-bottom: 3px; }
    ul.browser-stats li:last-child {
      margin-bottom: 0px; }
    ul.browser-stats li:hover {
      background: white;
      cursor: pointer; }
    ul.browser-stats li .icon {
      float: left; }
      ul.browser-stats li .icon img {
        width: 32px;
        height: 32px; }
    ul.browser-stats li .details {
      line-height: 18px;
      font-size: 11px;
      display: block;
      margin-left: 42px; }
      ul.browser-stats li .details strong {
        font-weight: 600;
        margin-right: 3px;
        font-size: 13px;
        display: block; }
        ul.browser-stats li .details strong span {
          float: right;
          font-size: 16px;
          display: inline-block; }
      ul.browser-stats li .details span {
        font-weight: 400;
        display: block; }
    ul.browser-stats li.plain {
      padding: 5px 0px;
      border: 0 !important;
      font-weight: 600;
      display: block;
      font-size: 14px;
      background: transparent;
      display: block; }
      ul.browser-stats li.plain .btn {
        float: right;
        color: white; }
        ul.browser-stats li.plain .btn i {
          color: white !important;
          font-size: 16px; }

ul.messages {
  padding: 10px;
  margin: 0;
  text-align: left;
  list-style-type: none; }
  ul.messages li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #ebebeb !important;
    background-color: white;
    margin-bottom: 3px; }
    ul.messages li:last-child {
      margin-bottom: 0px; }
    ul.messages li:hover {
      background: white;
      cursor: pointer; }
    ul.messages li .icon {
      float: left; }
      ul.messages li .icon img {
        width: 32px;
        height: 32px; }
    ul.messages li .details {
      line-height: 18px;
      font-size: 11px;
      display: block;
      margin-left: 42px; }
      ul.messages li .details strong {
        font-weight: 600;
        margin-right: 3px;
        font-size: 13px;
        display: block; }
        ul.messages li .details strong span {
          float: right;
          font-size: 11px;
          display: inline-block; }
      ul.messages li .details span {
        font-weight: 400;
        display: block; }
    ul.messages li.plain {
      padding: 5px 0px;
      border: 0 !important;
      font-weight: 600;
      display: block;
      font-size: 14px;
      background: transparent;
      display: block; }
      ul.messages li.plain .btn {
        float: right;
        color: white; }
        ul.messages li.plain .btn i {
          color: white !important;
          font-size: 16px; }

ul.quick-actions {
  padding: 10px;
  margin: 0;
  text-align: center; }
  ul.quick-actions li {
    padding: 10px;
    -webkit-transition: All 0.5s ease;
    -moz-transition: All 0.5s ease;
    -ms-transition: All 0.5s ease;
    -o-transition: All 0.5s ease;
    transition: All 0.5s ease;
    border: 1px solid #eaf5fb !important;
    background-color: white;
    margin: 4px;
    width: 29%;
    text-align: center !important;
    display: inline-block !important; }
    ul.quick-actions li:hover {
      background: white;
      cursor: pointer; }
    ul.quick-actions li a {
      padding: 0 !important;
      text-decoration: none; }
      ul.quick-actions li a:hover {
        background: transparent; }
    ul.quick-actions li i {
      font-size: 24px;
      padding-bottom: 5px;
      margin: 0 !important; }
    ul.quick-actions li p {
      margin: 0;
      padding: 0;
      color: #4d4d4d;
      line-height: 20px;
      font-size: 12px; }
    ul.quick-actions li.plain {
      padding: 0 10px;
      border: 0 !important;
      width: 100%;
      font-weight: 600;
      display: block;
      font-size: 16px;
      color: #53acdf;
      background: transparent; }
    ul.quick-actions li:first-child {
      padding: 10px 5px; }
    ul.quick-actions li:hover {
      background-color: #eaf5fb; }

.rating-wrapper {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .rating-wrapper li {
    display: block;
    border-bottom: 1px solid #ededed;
    padding: 5px 0; }
    .rating-wrapper li .user img {
      width: 36px;
      height: 36px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px; }
    .rating-wrapper li .info {
      margin-left: 50px;
      color: #53acdf; }
      .rating-wrapper li .info .rating {
        margin-bottom: 3px; }
        .rating-wrapper li .info .rating .stars {
          float: left; }
        .rating-wrapper li .info .rating small {
          color: gray;
          font-size: 11px;
          padding-left: 10px;
          line-height: 20px;
          margin-left: 5px;
          border-left: 1px solid #e6e6e6; }
      .rating-wrapper li .info p.comment {
        margin: 2px 0 0 0;
        padding: 0;
        color: #4d4d4d;
        font-size: 11px;
        line-height: 14px; }
    .rating-wrapper li:last-child {
      border-bottom: 0;
      padding-bottom: 0; }

.callout {
  margin: 0 0 5px 0;
  padding: 10px 20px;
  background-color: #f7f7f7;
  border-left: 3px solid #e8e8e8; }

.callout h4 {
  margin-top: 0;
  margin-bottom: 5px; }

.callout p:last-child {
  margin-bottom: 0; }

/* Variations */
.callout-danger {
  border-color: #ff6464; }

.callout-danger h4 {
  color: #ff6464; }

.callout-warning {
  border-color: #ffaa3a; }

.callout-warning h4 {
  color: #ffaa3a; }

.callout-info {
  border-color: #53acdf; }

.callout-info h4 {
  color: #53acdf; }

.callout-success {
  border-color: #abd14f; }

.callout-success h4 {
  color: #abd14f; }

.dashboard-wrapper {
  padding: 0;
  margin: 0 auto;
  text-align: left;
  margin-left: 250px;
  min-height: 100% !important;
  border-left: 1px solid #c7e4f5; }

@media (max-width: 767px) {
  .dashboard-wrapper {
    margin-left: 0;
    border-left: 0; } }
.main-container {
  position: relative;
  padding: 0;
  min-height: 900px; }

aside#sidebar {
  position: absolute;
  left: 0;
  top: 0;
  width: 250px;
  height: 100%;
  margin-top: 60px;
  background: linear-gradient(to right, white 0%, white 90%, #eef7fc 100%); }
  aside#sidebar .current-user {
    padding-left: 80px;
    border-bottom: 1px solid #d4eaf7;
    height: 71px; }
    aside#sidebar .current-user .user-avatar {
      position: relative;
      width: 50px;
      height: 50px;
      float: left;
      padding: 0;
      margin-top: 6px;
      margin-left: -64px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
      aside#sidebar .current-user .user-avatar img {
        border: 2px solid #53acdf;
        width: 50px;
        height: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px; }
      aside#sidebar .current-user .user-avatar .online {
        border: 2px solid white;
        background: #abd14f;
        height: 15px;
        width: 15px;
        position: absolute;
        right: -5px;
        top: 0;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
      aside#sidebar .current-user .user-avatar .busy {
        border: 2px solid white;
        background: #ff6464;
        height: 15px;
        width: 15px;
        position: absolute;
        right: -5px;
        top: 0;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
      aside#sidebar .current-user .user-avatar .away {
        border: 2px solid white;
        background: #ffaa3a;
        height: 15px;
        width: 15px;
        position: absolute;
        right: -5px;
        top: 0;
        -webkit-border-radius: 30px;
        -moz-border-radius: 30px;
        border-radius: 30px; }
    aside#sidebar .current-user .user-name {
      font-size: 14px;
      font-weight: 400;
      margin-top: 10px;
      line-height: 26px; }
    aside#sidebar .current-user ul.user-links {
      margin: 5px 0 0 0;
      padding: 0;
      list-style-type: none; }
      aside#sidebar .current-user ul.user-links li {
        display: inline-block;
        height: 24px;
        width: 24px;
        text-align: center;
        line-height: 24px;
        vertical-align: top;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        border-radius: 50px;
        background: #eaf5fb;
        margin-right: 5px; }
        aside#sidebar .current-user ul.user-links li a .fa {
          font-size: 12px; }
        aside#sidebar .current-user ul.user-links li:hover {
          background: #d4eaf7; }
  aside#sidebar #menu {
    margin: 0;
    display: block;
    width: 100%; }
    aside#sidebar #menu ul, aside#sidebar #menu li {
      margin: 0;
      padding: 0;
      border: 0;
      list-style: none;
      font-weight: normal;
      text-decoration: none;
      line-height: 1;
      position: relative; }
    aside#sidebar #menu > ul > li > a {
      font-size: 14px;
      display: block;
      color: #999999;
      font-weight: 500;
      padding: 16px 20px 16px 20px;
      border-bottom: 1px solid #eaf5fb;
      position: relative; }
      aside#sidebar #menu > ul > li > a > i {
        font-size: 18px;
        margin-right: 10px;
        width: 20px;
        float: left;
        line-height: 14px;
        text-align: center; }
      aside#sidebar #menu > ul > li > a > span {
        display: block; }
    aside#sidebar #menu > ul > li.has-sub > a span {
      background: url(../img/icon_plus.png) 100% center no-repeat; }
    aside#sidebar #menu > ul > li.has-sub.active > a span {
      background: url(../img/icon_minus.png) 100% center no-repeat; }
    aside#sidebar #menu > ul > li.highlight {
      background: white; }
      aside#sidebar #menu > ul > li.highlight:after {
        position: absolute;
        right: -1px;
        top: 8px;
        width: 0;
        height: 0;
        border-right: 8px solid #abd14f;
        border-top: 15px solid transparent;
        border-bottom: 15px solid transparent;
        content: ""; }
      aside#sidebar #menu > ul > li.highlight:before {
        position: absolute;
        left: 0;
        height: 100%;
        border-left: 4px solid #abd14f;
        content: ""; }
      aside#sidebar #menu > ul > li.highlight a {
        color: #4d4d4d; }
    aside#sidebar #menu > ul > li:nth-child(n).highlight:after {
      border-right: 8px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(n).highlight:before {
      border-left: 4px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(2).highlight:after {
      border-right: 8px solid #4c66a4; }
    aside#sidebar #menu > ul > li:nth-child(2).highlight:before {
      border-left: 4px solid #4c66a4; }
    aside#sidebar #menu > ul > li:nth-child(3).highlight:after {
      border-right: 8px solid #ff6464; }
    aside#sidebar #menu > ul > li:nth-child(3).highlight:before {
      border-left: 4px solid #ff6464; }
    aside#sidebar #menu > ul > li:nth-child(4).highlight:after {
      border-right: 8px solid #53acdf; }
    aside#sidebar #menu > ul > li:nth-child(4).highlight:before {
      border-left: 4px solid #53acdf; }
    aside#sidebar #menu > ul > li:nth-child(5).highlight:after {
      border-right: 8px solid #ffaa3a; }
    aside#sidebar #menu > ul > li:nth-child(5).highlight:before {
      border-left: 4px solid #ffaa3a; }
    aside#sidebar #menu > ul > li:nth-child(6).highlight:after {
      border-right: 8px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(6).highlight:before {
      border-left: 4px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(7).highlight:after {
      border-right: 8px solid #ff6464; }
    aside#sidebar #menu > ul > li:nth-child(7).highlight:before {
      border-left: 4px solid #ff6464; }
    aside#sidebar #menu > ul > li:nth-child(8).highlight:after {
      border-right: 8px solid #53acdf; }
    aside#sidebar #menu > ul > li:nth-child(8).highlight:before {
      border-left: 4px solid #53acdf; }
    aside#sidebar #menu > ul > li:nth-child(9).highlight:after {
      border-right: 8px solid #ffaa3a; }
    aside#sidebar #menu > ul > li:nth-child(9).highlight:before {
      border-left: 4px solid #ffaa3a; }
    aside#sidebar #menu > ul > li:nth-child(10).highlight:after {
      border-right: 8px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(10).highlight:before {
      border-left: 4px solid #abd14f; }
    aside#sidebar #menu > ul > li:nth-child(11).highlight:after {
      border-right: 8px solid #ff6464; }
    aside#sidebar #menu > ul > li:nth-child(11).highlight:before {
      border-left: 4px solid #ff6464; }
    aside#sidebar #menu > ul > li:hover {
      background: #f6fbfd;
      text-decoration: none; }
    aside#sidebar #menu ul ul {
      display: none;
      background: #fff; }
      aside#sidebar #menu ul ul li {
        padding: 0;
        border-bottom: none;
        border-top: none;
        background: transparent;
        position: relative; }
        aside#sidebar #menu ul ul li:hover {
          background: transparent; }
          aside#sidebar #menu ul ul li:hover span {
            padding-left: 20px;
            color: #2079ac; }
        aside#sidebar #menu ul ul li:last-child {
          border-bottom: 1px solid #eaf5fb; }
        aside#sidebar #menu ul ul li:before {
          content: "";
          display: block;
          position: absolute;
          width: 12px;
          left: 30px;
          top: 16px;
          border-top: 1px solid #d4eaf7;
          z-index: 1; }
        aside#sidebar #menu ul ul li .select {
          color: #2897d7;
          font-weight: bold;
          padding-left: 50px; }
      aside#sidebar #menu ul ul a {
        padding: 12px 10px 12px 40px;
        display: block;
        color: #185b81;
        font-size: 12px;
        font-weight: normal; }
        aside#sidebar #menu ul ul a span {
          -webkit-transition: padding 0.5s ease;
          -moz-transition: padding 0.5s ease;
          -ms-transition: padding 0.5s ease;
          -o-transition: padding 0.5s ease;
          transition: padding 0.5s ease;
          padding-left: 10px; }
          aside#sidebar #menu ul ul a span i {
            margin-right: 5px; }
      aside#sidebar #menu ul ul:before {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 30px;
        top: 0;
        bottom: 0;
        border-left: 1px solid #d4eaf7; }
  aside#sidebar .extras {
    margin: 20px; }
    aside#sidebar .extras .ex-wrapper {
      margin-bottom: 20px; }
      aside#sidebar .extras .ex-wrapper a.btn {
        opacity: 0.5;
        margin: 2px;
        float: left; }
        aside#sidebar .extras .ex-wrapper a.btn:hover {
          opacity: 1; }
    aside#sidebar .extras h5 {
      color: #53acdf;
      margin: 0 0 q0px 0;
      padding: 0 0 6px 0;
      border-bottom: 1px solid #eaf5fb; }

@media (max-width: 767px) {
  aside#sidebar {
    left: -250px;
    z-index: 1000;
    height: 100%; } }
.top-bar {
  padding: 20px 25px;
  vertical-align: middle;
  height: 80px;
  line-height: 40px; }
  .top-bar .page-title {
    font-size: 32px;
    font-weight: 100;
    display: inline-block;
    float: left;
    color: #53acdf; }
  .top-bar ul.stats {
    margin: 0;
    float: right; }
    .top-bar ul.stats li {
      border-left: 1px solid #d4eaf7;
      padding: 0 30px;
      display: inline-block;
      text-align: right; }
      .top-bar ul.stats li:first-child {
        border-left: none;
        padding-left: 0; }
      .top-bar ul.stats li:last-child {
        padding-right: 0; }
      .top-bar ul.stats li h4 {
        color: #68b6e3;
        margin: 0 0 2px 0;
        padding: 0;
        font-size: 21px;
        font-weight: 600; }
        .top-bar ul.stats li h4 i {
          font-size: 21px;
          margin-left: 3px; }
          .top-bar ul.stats li h4 i.up {
            color: #abd14f; }
          .top-bar ul.stats li h4 i.down {
            color: #ff6464; }
      .top-bar ul.stats li h5 {
        padding: 0;
        margin: 0;
        color: gray;
        font-size: 12px; }
      .top-bar ul.stats li .stats-details {
        float: left;
        margin-left: 5px; }
      .top-bar ul.stats li .ststs-block {
        float: left;
        position: relative;
        width: 48px;
        height: 48px;
        text-align: center;
        top: -4px; }

@media (max-width: 767px) {
  .top-bar {
    text-align: center; } }
.current-stats {
  padding: 20px 10px 20px 10px; }
  .current-stats .stats-block {
    position: relative;
    width: 100%;
    text-align: center; }
    .current-stats .stats-block canvas {
      margin: auto; }
    .current-stats .stats-block .knob {
      position: absolute;
      left: 50%;
      top: 50%;
      width: 60px !important;
      height: 40px !important;
      margin-top: -20px !important;
      margin-left: -30px !important; }
    .current-stats .stats-block .knob-title {
      position: absolute;
      left: 50%;
      top: 60%;
      width: 64px !important;
      height: 24px !important;
      margin-left: -32px !important;
      text-align: center; }
  .current-stats .visit-stats {
    margin-bottom: 15px; }
    .current-stats .visit-stats i {
      color: white;
      padding: 6px;
      width: 32px;
      text-align: center;
      font-size: 21px;
      -webkit-border-radius: 2px;
      -moz-border-radius: 2px;
      border-radius: 2px;
      -moz-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
      /* FF3.5+ */
      -webkit-box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
      /* Saf3.0+, Chrome */
      box-shadow: 0 2px 0 rgba(0, 0, 0, 0.8);
      /* Opera 10.5, IE9 */ }
    .current-stats .visit-stats i.small {
      width: 24px;
      font-size: 14px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
    .current-stats .visit-stats h2 {
      margin: 0;
      padding: 0;
      margin-left: 5px;
      font-size: 24px;
      display: inline-block;
      color: #333333;
      vertical-align: middle; }
    .current-stats .visit-stats h2.small {
      font-size: 16px; }
    .current-stats .visit-stats .progress {
      height: 4px;
      margin: 5px 0; }
    .current-stats .visit-stats h5 {
      font-size: 12px;
      margin: 0;
      padding: 0;
      text-transform: uppercase;
      color: #999999; }
    .current-stats .visit-stats h5.small {
      font-size: 10px; }
  @media (min-width: 767px) {
    .current-stats .visit-stats {
      margin-bottom: 10px;
      margin-top: 0; }
      .current-stats .visit-stats i.small {
        padding: 6px;
        width: 32px;
        font-size: 21px; }
      .current-stats .visit-stats h5.small {
        font-size: 12px; } }
  .current-stats .referrals canvas {
    margin-bottom: 15px;
    position: relative; }
  .current-stats .referrals .sparkline {
    overflow: hidden;
    text-align: center; }
  .current-stats .referrals .list {
    margin: .5%;
    width: 49%;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    padding: 20px 0;
    vertical-align: middle; }
    .current-stats .referrals .list small {
      font-size: 12px; }

.jqstooltip {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box; }

footer {
  background: #eaf5fb;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 11px;
  color: #2897d7;
  width: 100%;
  z-index: 1000;
  position: absolute; }

.panel {
  margin-bottom: 25px;
  background-color: white;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.panel-body {
  padding: 15px;
  position: relative;
  border: 1px solid #cbe6f5; }

.panel-heading {
  position: relative;
  padding: 12px 15px;
  border: 1px solid #cbe6f5;
  border-bottom: 0;
  background: white;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px; }
  .panel-heading .custom-icon {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #53acdf;
    font-size: 14px; }
  .panel-heading .custom-text {
    position: absolute;
    right: 15px;
    top: 12px;
    color: #53acdf;
    font-size: 12px; }

h4.panel-title {
  font-size: 15px;
  font-weight: 600;
  color: #2897d7; }
  h4.panel-title .fa {
    margin-right: 4px;
    font-size: 14px;
    width: 20px; }

h3.panel-title {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  color: #333333; }

.panel-sub-heading {
  padding: 6px 15px;
  background-color: white;
  border-bottom: 1px solid #cbe6f5;
  font-size: 11px;
  color: #ffaa3a; }
  .panel-sub-heading .fa {
    margin-right: 5px; }
  .panel-sub-heading a {
    color: #666666; }
    .panel-sub-heading a:hover {
      color: #4d4d4d; }

.panel-footer {
  padding: 0;
  border: 0;
  margin-top: -1px;
  background: transparent;
  border: 1px solid #cbe6f5;
  border-top: 0;
  -webkit-border-radius: 0 0 2px 2px;
  -moz-border-radius: 0 0 2px 2px;
  border-radius: 0 0 2px 2px; }
  .panel-footer ul {
    margin: 0;
    padding: 0;
    list-style-type: none; }
    .panel-footer ul li {
      width: 25%;
      text-align: center;
      padding: 10px 0;
      float: left;
      height: 60px;
      background: transparent; }
      .panel-footer ul li h4 {
        font-size: 18px;
        margin: 2px 0 0 0;
        padding: 0;
        text-align: center; }
        .panel-footer ul li h4 small {
          color: inherit; }
      .panel-footer ul li p {
        color: #999999;
        font-size: 13px;
        margin: 0;
        padding: 0;
        text-align: center; }

.panel-group .panel {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0; }
.panel-group .panel-heading {
  border-bottom: 1px solid #cbe6f5; }
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0; }

.chats {
  margin: 0;
  padding: 0;
  margin-top: -15px;
  list-style-type: none; }
  .chats li {
    padding: 5px 0;
    margin: 9px auto; }
    .chats li img.avatar {
      height: 48px;
      width: 48px;
      -webkit-border-radius: 50px;
      -moz-border-radius: 50px;
      border-radius: 50px; }
    .chats li.in img.avatar {
      margin-right: 10px;
      float: left; }
    .chats li .name {
      color: #666666;
      font-size: 13px;
      font-weight: bold; }
    .chats li .date-time {
      color: #53acdf;
      font-size: 11px;
      font-weight: 400; }
      .chats li .date-time .fa {
        font-size: 14px;
        margin-left: 4px;
        color: #4d4d4d; }
    .chats li .progress-stats {
      margin-top: 10px; }
      .chats li .progress-stats .progress {
        background: #ffe8c9;
        height: 6px;
        margin: 5px 0 0 25px; }
    .chats li.out img.avatar {
      float: right;
      margin-left: 10px; }
    .chats li .message {
      display: block;
      padding: 10px;
      position: relative;
      color: black; }
    .chats li.in .message {
      text-align: left;
      margin-left: 60px;
      background: #fff7ed; }
      .chats li.in .message .arrow {
        display: block;
        position: absolute;
        top: 0;
        left: -12px;
        width: 0;
        height: 0;
        border-bottom: 12px solid transparent;
        border-right: 12px solid #fff7ed; }
    .chats li.out .message {
      margin-right: 60px;
      background: #eaf5fb;
      text-align: right; }
      .chats li.out .message .arrow {
        display: block;
        position: absolute;
        top: 0px;
        right: -12px;
        border-bottom: 12px solid transparent;
        border-left: 12px solid #eaf5fb; }
    .chats li .message .body {
      display: block;
      padding-top: 10px; }
    .chats li:last-child {
      margin-bottom: 0; }

.error-container {
  position: absolute;
  left: 50%;
  width: 400px;
  height: 300px;
  margin-left: -200px;
  margin-top: 120px;
  text-align: center;
  color: #cccccc; }
  .error-container h1 {
    margin-bottom: .5em;
    line-height: 1em;
    color: #ff6464; }
  .error-container h2 {
    margin-bottom: .75em; }
  .error-container .error-details {
    margin-bottom: 1.5em;
    font-size: 16px; }
  .error-container .error-actions a {
    margin: 0 .5em; }

@media (max-width: 767px) {
  .error-container {
    margin-top: 30px; } }
.switch {
  position: relative;
  height: 36px;
  width: 100px;
  background: #e6e6e6;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 50px;
  line-height: 36px;
  font-size: 12px;
  color: black;
  text-align: center;
  cursor: pointer;
  margin-bottom: 0; }

.switch-label-off {
  padding-left: 2px; }

.switch-label-on {
  padding-right: 2px; }

.switch-input {
  display: none; }

.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #fff;
  -webkit-transition: 0.15s ease-out;
  -moz-transition: 0.15s ease-out;
  -o-transition: 0.15s ease-out;
  transition: 0.15s ease-out; }

.switch-input:checked + .switch-label-on ~ .switch-selection {
  /* Note: left: 50% doesn't transition in WebKit */
  left: 48px; }

.switch-selection {
  display: block;
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  width: 50px;
  height: 32px;
  background: #749327;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: left 0.15s ease-out;
  -moz-transition: left 0.15s ease-out;
  -o-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out; }

.squared-check {
  position: relative;
  margin: 4px auto;
  float: left; }
  .squared-check label {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    left: 2px;
    top: 2px;
    background: white;
    border: 2px solid #53acdf;
    display: inline-block; }

.cb-label {
  display: inline-block;
  margin: 3px 30px 0px 15px; }

.squared-check label:after {
  content: '';
  width: 9px;
  height: 5px;
  position: absolute;
  top: 5px;
  left: 4px;
  border: 3px solid #53acdf;
  border-top: none;
  border-right: none;
  background: transparent;
  opacity: 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg); }

.squared-check label:hover::after {
  opacity: 0.3; }

.squared-check input[type=checkbox] {
  visibility: hidden; }

.squared-check input[type=checkbox]:checked + label:after {
  opacity: 1; }

.datatable-index .dataTables_filter {
  display: none; }

#dt_example {
  /* Sorting */ }
  #dt_example .dataTables_length {
    float: left; }
    #dt_example .dataTables_length select {
      width: 80px;
      height: 30px;
      margin-bottom: 0; }
  #dt_example .dataTable .progress {
    height: 6px;
    margin: 5px 0 0 0; }
  #dt_example .dataTable th {
    padding-left: 12px; }
  #dt_example .dataTables_filter {
    float: right; }
    #dt_example .dataTables_filter input {
      width: 160px;
      height: 32px;
      margin-left: 4px;
      margin-bottom: 0;
      outline: none;
      border: 1px solid #e6e6e6; }
  #dt_example .dataTables_info {
    float: left;
    margin-bottom: 5px; }
  #dt_example .dataTables_paginate {
    margin: 5px 0;
    float: right; }
    #dt_example .dataTables_paginate .previous, #dt_example .dataTables_paginate .next {
      display: none; }
    #dt_example .dataTables_paginate .first {
      -webkit-border-radius: 30px 0 0 30px;
      -moz-border-radius: 30px 0 0 30px;
      border-radius: 30px 0 0 30px; }
    #dt_example .dataTables_paginate .last {
      -webkit-border-radius: 0 30px 30px 0;
      -moz-border-radius: 0 30px 30px 0;
      border-radius: 0 30px 30px 0; }
    #dt_example .dataTables_paginate .paginate_button, #dt_example .dataTables_paginate .paginate_active {
      background: #e1f0f9;
      margin-left: 1px;
      padding: 5px 12px; }
      #dt_example .dataTables_paginate .paginate_button:hover, #dt_example .dataTables_paginate .paginate_active:hover {
        background: #d4eaf7;
        cursor: pointer;
        color: black; }
    #dt_example .dataTables_paginate .paginate_active {
      background: #ffaa3a;
      color: white; }
      #dt_example .dataTables_paginate .paginate_active:hover {
        background: #ffaa3a;
        color: white; }
  #dt_example .dataTable .sorting {
    cursor: pointer;
    background: url(../img/sorting.png) no-repeat center left; }
  #dt_example .dataTable .sorting_asc {
    cursor: pointer;
    background: url(../img/sorting_asc.png) no-repeat center left; }
  #dt_example .dataTable .sorting_desc {
    cursor: pointer;
    background: url(../img/sorting_desc.png) no-repeat center left; }

ul.show-stats {
  list-style-type: none;
  margin: 10px 0 0 0;
  padding: 0; }
  ul.show-stats li {
    display: inline-block;
    color: gray;
    padding: 2px 6px;
    margin: 3px; }
    ul.show-stats li .fa {
      font-size: 14px;
      margin-right: 1px;
      font-weight: bold; }
    ul.show-stats li span {
      margin-left: 3px; }

#memory {
  margin: auto;
  width: 100%; }

.chart-height {
  position: relative;
  height: 176px; }

.chart-height-sm {
  position: relative;
  height: 156px; }

.chart-height-xs {
  position: relative;
  height: 56px; }

.legendLabel {
  padding-left: 5px; }

.alert-dismissable .close {
  right: 0; }

.alert.alert-transparent {
  background-color: transparent !important;
  color: black; }

.alert {
  padding: 10px;
  margin-bottom: 11px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px; }

.alert-success {
  color: white;
  background-color: #abd14f;
  border-color: #93bc31; }

.alert-info {
  color: white;
  background-color: #53acdf;
  border-color: #2897d7; }

.alert-warning {
  color: white;
  background-color: #ffaa3a;
  border-color: #ff9407; }

.alert-danger {
  color: white;
  background-color: #ff6464;
  border-color: #ff3131; }

#scrollUp {
  bottom: 0px;
  right: 25px;
  width: 100px;
  height: 40px;
  padding: 10px;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  color: white;
  background-color: #ff4b4b;
  -webkit-transition: bottom 150ms linear;
  -moz-transition: bottom 150ms linear;
  transition: bottom 150ms linear; }
  #scrollUp:hover {
    background-color: #2897d7; }

.nav-tabs {
  border-bottom: 1px solid #cbe6f5;
  background-color: #ddeef9; }
  .nav-tabs > li > a {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0; }
    .nav-tabs > li > a:hover {
      background-color: #eaf5fb;
      border-color: transparent; }

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
  border: 1px solid #cbe6f5;
  border-bottom-color: transparent;
  font-weight: 700; }

.nav > li > a {
  padding: 15px 20px; }

.tab-content {
  padding: 20px;
  margin-bottom: 25px;
  border: 1px solid #cbe6f5;
  border-top: 0; }
  .tab-content p {
    text-align: justify; }

.fontawesome-icon-list {
  margin-top: 0; }
  .fontawesome-icon-list .fa-hover a {
    display: block;
    color: #4d4d4d;
    line-height: 32px;
    height: 32px;
    padding-left: 10px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background-color: #fafafa;
    border: 1px solid #f2f2f2;
    margin: 2px; }
    .fontawesome-icon-list .fa-hover a .fa {
      width: 32px;
      font-size: 14px;
      display: inline-block;
      text-align: right;
      margin-right: 10px; }
    .fontawesome-icon-list .fa-hover a:hover {
      background-color: #53acdf;
      color: #ffffff;
      text-decoration: none; }
      .fontawesome-icon-list .fa-hover a:hover .fa {
        font-size: 18px;
        vertical-align: -2px; }
      .fontawesome-icon-list .fa-hover a:hover .text-muted {
        color: gray; }
